/* 
.lease-card {
  width: 300px;
  border-radius: 12px;
  transition: transform 0.3s ease;
  background-color: white;
}

.lease-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.card-title {
  font-weight: 600;
}


.lease-body p{
  color: #444;
}

.lease-body{
  padding-left: 25px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.download-btn{
  text-align: center;
  width: 55%;
} */

.lease-box-wrapper {
  padding: 20px;
  border-radius: 16px;
  background-color: #f8f9fa;
}
.lease-body p{
  color: #444;
}